<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>
  {% if page.title == "Bootstrap" %}
    {{ page.title }}
  {% else %}
    {{ page.title }} &middot; Bootstrap
  {% endif %}
</title>


<link href="{{ page.base_url }}jux-assets/stylesheets/blog.css" rel="stylesheet">

<link href="{{ page.base_url }}jux-assets/stylesheets/github.css" rel="stylesheet">



<!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ page.base_url }}docs-assets/ico/apple-touch-icon-144-precomposed.png">
                               <link rel="shortcut icon" href="{{ page.base_url }}docs-assets/ico/favicon.png"> -->
