    <div class="showcase">
        <ul>
            <li>
                <div class="box">
                    <div class="gallery">
                        <div class="img"></div>
                        <div class="meta">
                            <p>8是一家设计及创新工作室。
拥有90+建筑设计师、战略师、设计师和开发者，遍布三块大陆，6个时区，8个工作室...</p>
                        </div>                   
                    </div>
                    <div class="author-meta">
                        <p class="thumb">符合4xN栅格，更能与CDN图片规格匹配</p>
                        <p class="specific">
                            <span class="author">赤目</span>
                            <span class="date">2013.11.14</span>   
                        <p>
                    </div>

                </div>
            </li>
            <li>
                <div class="box">
                    <div class="gallery">
                        <div class="img"></div>
                        <div class="meta hide">
                            <p>8是一家设计及创新工作室。
拥有90+建筑设计师、战略师、设计师和开发者，遍布三块大陆，6个时区，8个工作室...</p>
                        </div>                   
                    </div>
                    <div class="author-meta">
                        <p class="thumb">符合4xN栅格，更能与CDN图片规格匹配</p>
                        <p class="specific">
                            <span class="author">赤目</span>
                            <span class="date">2013.11.14</span>   
                        <p>
                    </div>

                </div>
            </li>

            <li>
                <div class="box">
                    <div class="gallery">
                        <div class="img"></div>
                        <div class="meta hide">
                            <p>8是一家设计及创新工作室。
拥有90+建筑设计师、战略师、设计师和开发者，遍布三块大陆，6个时区，8个工作室...</p>
                        </div>                   
                    </div>
                    <div class="author-meta">
                        <p class="thumb">符合4xN栅格，更能与CDN图片规格匹配</p>
                        <p class="specific">
                            <span class="author">赤目</span>
                            <span class="date">2013.11.14</span>   
                        <p>
                    </div>

                </div>
            </li>

        </ul>
    </div>
    
    <div class="undertake">
        <div class="inner">
            <div class="pagination">
                <a href="#" class="prev">Later</a>
                <a href="#" class="next">Newer</a>            
            </div>
        </div>
    </div>