<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
  </head>
  <body>
      
      <div class="intro">
          <div class="video">
<video loop='loop' autoplay='autoplay' width="100%" autobuffer src='./jux-assets/media/splash.mp4'></video>
          </div>
          <div class="inner">
              <div class="slogon">WE CREATE</br>EXPERIENCE BEYOND</br>IMAGAINATION</div>
          </div>
      </div>
      <div class="header">
          <div class="inner">
              <h1 class="logo"></h1>
              <ul class="nav">
                  <li><a href="#">BLOG</a></li>
                  <li><a class="em" href="#">DPL</a></li>                            <li><a href="#">DOC</a></li>                                       <li><a  href="#">WIKI</a></li>                                    <li><a href="#">DEMO</a></li>           
              </ul>
          </div>
      </div>

    <!-- Docs master nav -->
  
    

    {% include showcase.html %}    
    

    <!-- JS and analytics only. -->
    {% include footer.html %}

  </body>
</html>
